<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/posts.css">
    <title>Posts</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <% if (!currentUser) { %>
        <div class="pop-up">
            <h1>Quotely 💬</h1>
            <p class="pop-up-subtext">Find Out What Everyone is Talking About</p>
            <p>You must <a href="/login">log in</a> to view the posts.</p>
        </div>
    <% } %>

    <div class="<%= currentUser ? "" : "blurred-background"%>">
        <h1 class="page-title">Posts</h1>
        <div class="all-posts-container">
            <% for (post of allPosts) { %>
                <div class="post-container">
                    <div class="post-header">
                        <h1 class="post-title"> <%= post.title %> </h1>
                        <div class="post-author-date">
                            <p class="post-author"> <%= post.author.firstName %> <%= post.author.lastName %></p>
                            <p class="post-date"> <%= post.formattedDate %> </p>
                        </div>
                    </div>

                    <p class="post-content"> <%= post.content %> </p>

                    <div class="post-footer">
                        <% if (currentUser && ((currentUser._id).equals(post.author._id))) { %>
                            <div class="post-buttons">
                                <a class="post-edit-button" href="/posts/<%= post._id %>/edit">Edit</a>
                                <div>
                                    <form action="/posts/<%= post._id %>/delete" method="POST">
                                        <button class="post-delete-button" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>