<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">    
    <link rel="stylesheet" href="/css/profile.css">    
    <link rel="stylesheet" href="/css/posts.css">    
    <title>Profile</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <h1 class="page-title">Profile Page</h1>
    <p class="profile-name"> <%= firstName %> <%= lastName %> </p>
    <div class="all-posts-container">
        <% for (let post of posts) { %>
            <div class="post-container">
                <p class="post-title"> <%= post.title %> </p>
                <p class="post-content"> <%= post.content %> </p>

                <div class="post-footer">
                    <div class="post-buttons">
                        <a class="post-edit-button" href="/posts/<%= post._id %>/edit">Edit</a>
                        <div>
                            <form action="/posts/<%= post._id %>/delete" method="POST">
                                <button class="post-delete-button" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</body>
</html>